body {
  background-color: #4f4f52;
}

.data-container-active {
  border: 1px solid white;
  border-radius: 15px;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.heading-button {
  border: 1px solid white;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  max-width: 500px;
  text-align: center;
}

.heading-button:hover {
  background-color: rgb(159, 218, 184);
  border: 1px solid black;
}

.info-container-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
}

.info-container-inactive {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  font-size: larger;
}
